#root {
 
  font-family: 'SPF Pro Display', sans-serif;
}

/* Navbar */
.navbar {
  position: fixed !important;
  z-index:100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 3px 7px 6px -8px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 3px 7px 6px -8px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 3px 7px 6px -8px rgba(0, 0, 0, 0.61);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 75px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.navbar a.button-contact {
  background-color: #FFCE07;
  padding: 20px;
  border-radius: 50px;
}

.content {
  padding-top: 60px;
  /* Adjust this value to prevent content overlap */
}
.contact-us{
  background-color: #FFCE07;
  width: 135px;
  font-weight: bold;
  text-align: center;
  border-radius: 18px;
  padding: 13px;
  margin-top: 20px;
  font-size: 10px;
}

/* end navbar */
.book-now {
  background-color: #FFCE07;
  width: 135px;
  text-align: center;
  border-radius: 18px;
  padding: 13px;
  margin-top: 20px;
  font-size: 10px;
  font-weight: bold;
}

.image-home {
  width: 53%;
  position: absolute;
  margin-top: 100px;
  right: 5px;
}

.text-mod {
  margin-top: 180px;
}
.buildslace{
  text-shadow: 3px 1px 3px rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: bold;
}
.your-development{
  font-size: 50px;
}
p.line {
  display: flex;
  flex-direction: row;
  margin-right: 320px;
  font-size: 18px;
}
p.line:before{
  content: "";
  flex:  1 1;
  border-bottom: 3px solid #FFCE07;
  margin: auto;
}
p.line:before {
  margin-right: 10px
}

.title-card-home{
  color: #FFCE07 !important;
}
.des-card-home{
  font-size: 14px !important;
}
.title-product {
  text-align: center;
}

.complete-package {
  color: #C4C4C4;
  line-height: 0;
}

.product-desaign {
  margin-top: 200px;
  fill: #272727;
  stroke: #000000;
  line-height: 0;
}

.modif-card {
  --bs-card-spacer-y: 0 !important;
  --bs-card-spacer-x: 0 !important;
  height: 200px !important;
}

.text-color-orange {
  color: #FFCE07;
}
.img-framework{
  width: 50%;
}
.img-framework-2{
  width: 50%;
}

#progres {
  background-color: #272727;
  height: 175px;
  margin-top: 50px;
}

#progres h4 {
  color: #FFCE07;
  width: 40%;
  text-align: center;
  padding-top: 15px;
}

.center-div {
  display: block;
  text-align: -webkit-center;
}

.text-progres {
  color: white;
  font-size: 12px;
}

.portopolio {
  width: 45%;
}
/* backgroundRepeat: 'no-repeat, no-repeat',
backgroundSize: '50px, 150px',
backgroundPositionX: 25,
backgroundPositionY: '410px, 10px' */
.bg-image-testimonial{
  background-repeat: no-repeat, no-repeat;
  background-size: 50px, 150px;
  background-position-x: 25px;
  background-position-y: 410px, 10px;
}

.testimonial{
  width: 30%;
}

.modif-card-portopolio {
  --bs-card-spacer-y: 0 !important;
  --bs-card-spacer-x: 0 !important;
  padding: 0 !important;
  height: 430px !important;
}
.card-portopolio{
  color: #FFCE07 !important;
  line-height: 1;
}

.testimonial-content{
  /* style={{ paddingLeft: 0 }} */
  padding-left: 0;
}
.testimonial-text{
  color: #C4C4C4;
  line-height: 0;
}
.learn-more{
  background-color: #FFCE07;
  width: 135px;
  text-align: center;
  border-radius: 18px;
  padding: 13px;
  margin-top: 20px;
  font-size: 10px;
  color: #272727;
  font-weight: bold;
}

.react-multi-carousel-dot--active button {
  background: #FFCE07 !important;
}

.react-multi-carousel-dot button {
  border-color: #fff !important;
}
.card-consul {
  text-align: center;
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.22);
-webkit-box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.22);
-moz-box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.22);
}
.button-consul{
  background-color: #FFCE07;
  width: 140px;
  text-align: center;
  border-radius: 19px;
  padding: 13px;
  margin-top: 20px;
  font-size: 10px;
  border: 1px solid black;
  font-weight: bold;
}

.des-alba{
  font-size: 12px;
  width:70%;
}

.copy-right{
  color: #C4C4C4;
  justify-content: space-between;
}
.whatsapp{
  width: 40px;
}
.card-footer{
  border-top: 2px solid #C4C4C4 !important;
  border-bottom: 2px solid #C4C4C4;
}
footer{
  margin-top: 18rem;
 }
.navbar-dekstop{
  font-weight: bold;
 }
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}