.card-login {
    box-shadow: 10px 14px 4px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 14px 4px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 14px 4px -7px rgba(0, 0, 0, 0.75);
}

.button-login{
    width: 120px;
    background-color: #FFCE07 !important;
    color: black !important;
    border: 1px solid  #FFCE07 !important;
    font-weight: bold !important;
}

 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {height: 550px}
    
 /* Set gray background color and 100% height */
 .sidenav {
   background-color: #f1f1f1;
   height: 100%;
 }
     
 .navbar-dashboard{
    background-color: #FFCE07;
 }

footer{
   background-color: #FFCE07;
 }
.copy-right-admin{
    margin-top: 30px;
    color: black;
    justify-content: space-between;
    font-weight: bold;
}
 .dashboard-admin{
    border-top: 2px solid #FFCE07 !important;
 }
 
 /* On small screens, set height to 'auto' for the grid */
 @media screen and (max-width: 767px) {
   .row.content {height: auto;} 
 }